*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
body{
   
    background-color: #e9ebea;
}


/* NAVBAR */

.imagenLogo{
    height: 40px;
   
}
.navbar-brand{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin-left: 10px;
   

}
.navbar-brand span{
    color: #ed7161;
    font-size: 1.2em;
    

}

.navPosition{
    margin-left: 30px;
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
   
}


.navPosition .botonResaltado{
    background-color: #1da867;
    border-radius: 5px;
}

.navPosition .botonResaltado:hover{
    background-color: #0ed478;
    
}

.d-flex button{
    color: black;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

.d-flex button:hover{
    background-color: #0ed478;
    color: black;
}

.navPosition li:hover{
    background-color: #c0e7c1;
    transition: 0.3s;
    border-radius: 5px;
}
.brandResponsive{
    justify-content: center;
}


@media (max-width: 900px) {
    .imagenLogo{
        display: none;
        
    }
    .navPosition{
        margin-left: 0;
    }
    .navbar-brand{
        margin-left: 0;
       
    
    }
    body{
        margin: 0;
    }
    .brandHidden{
        display: none;
    }

    }

    @media (min-width: 900px) {
        .brandResponsive{
            display: none;
        }
        
    }


    /* CAROUSEL */

    .carousel{
        height: 500px;
    }

    .carousel img{
        height: 500px;
        opacity: 0.6;
    }


    /* DROPDOWN */

.container{
    width: 100%;
   
    position: relative;
    min-height: 50vh;
    max-width: 1500px;
    margin: auto;
    

    
}

.card{
    width: 95%;
    margin-top: 20px;
    text-decoration: none;
}

.card-title{
    text-decoration: none;
    color: black;
    font-size: 15px;
    
}
.card-title{
    
}